@import "tailwindcss";

:root {
  --color-primary: #2563eb;
  --color-secondary: #7c3aed;

  --color-background: #ffffff;
  --color-surface: #f8fafc;

  --color-text: #0f172a;
  --color-text-muted: #64748b;

  --color-border: #e2e8f0;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
}